*.db
uwsgi.sh

# Python
local_settings.py
sp/local_settings.py
./sp/local_settings.py

# django admin symlink
static/admin
./static/admin
# compressed assets
static/compressed
./static/compressed

# Webserver
apache2
nginx.conf
deploy/
./deploy/
bin/
lib/
logs/
media/
./media/
.DS_Store
.idea
*.py[cod]


# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

downloads
eggs
parts
src/*.egg-info
*~

