Django==1.6.2
South
django-mathfilters
django-compressor
django-registration
Pillow
psycopg2==2.5.1
pdfkit
# sudo apt-get install wkhtmltopdf

pisa
html5lib
reportlab==2.4
raven
git+git://github.com/zvadim/django-db-settings.git