<div id="level_item_dialog">
	<form id="frm_level" data-model="level">
        <input type="hidden" name="obj_id" class="obj_id" value="" />
        <fieldset>
            <table>
                <tr>
                    <td class="form_cell"><label for="level_name" class="form_label">name:</label></td>
                    <td class="form_cell"><input type="text" name="level_name" id="level_name" class="obj_name text ui-widget-content ui-corner-all form_input" data-field="name" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="level_description" class="form_label">description:</label></td>
                    <td class="form_cell"><input type="text" name="level_description" id="level_description" class="obj_description text ui-widget-content ui-corner-all form_input" data-field="description" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="level_royalty" class="form_label">royalty:</label></td>
                    <td class="form_cell"><input type="text" name="level_royalty" id="level_royalty" class="obj_royalty text ui-widget-content ui-corner-all form_input" data-field="royalty" /></td>
                </tr>
            </table>
        </fieldset>
	</form>
</div>
