<div id="order_content">
	<form id="frm_order" data-model="order">
	<fieldset>
			<table id="order_main_options">
			<tr>
				<td id="order_main_options_customer_id_td_label" class="form_cell" ><label for="order_customer_id" class="form_label">customer ID:</label></td>
				<td id="order_main_options_customer_id_td_input" class="form_cell"><input type="text" name="order_customer_id" id="order_customer_id" title="the customer or company id" class="text ui-widget-content ui-corner-all form_input" readonly value="" data-field="customer" data-type="integer" /></td>
				<td id="order_main_options_customer_id_td_search" class="form_cell"><a id="order_customer_id_search" title="find a customer or company" href="#" class="button form_button"><img id="icon_order_customer_id_search" src="{{ STATIC_URL }}img/icons/16_find_customer.png" /></a></td>
				<td id="order_main_options_customer_details" colspan="3" rowspan="3">
					<div id="order_main_options_customer_details_content">
						<div id="order_main_options_customer_details_content_addressblock"></div>
					</div>
				</td>
			</tr>
			<tr>
				<td id="order_main_options_order_id_td_label" class="form_cell"><label for="order_order_id"  class="form_label">order ID:</label></td>
				<td id="order_main_options_order_id_td_input" class="form_cell"><input type="text" name="order_order_id" id="order_order_id" title="the order id" class="text ui-widget-content ui-corner-all form_input" value=""/></td>
				<td id="order_main_options_order_id_td_search" class="form_cell"><a id="order_order_id_search" title="find an order" href="#" class="button form_button"><img id="icon_order_order_id_search" src="{{ STATIC_URL }}img/icons/16_find_order.png" /></a></td>
			</tr>
			<tr>
				<td id="order_main_options_invoice_id_td_label" class="form_cell"><label for="search" class="form_label">invoice Number:</label></td>
				<td id="order_main_options_invoice_id_td_input" class="form_cell"><input type="text" name="order_invoice_number" id="order_invoice_number" title="the invoice number" class="text ui-widget-content ui-corner-all form_input" readonly value="" data-model="invoice" data-field="number" data-type="integer"/></td>
				<td id="order_main_options_invoice_id_td_search" class="form_cell"><a id="order_invoice_id_search" title="find an invoice" href="#" class="button form_button"><img id="icon_order_invoice_id_search" src="{{ STATIC_URL }}img/icons/16_find_invoice.png" /></a></td>
			</tr>
			</table>
		<div id="order_accordion">
			<h3>Order</h3>
			<div><p>
			<table id="order_detail_options">
			<tr>
				<td id="order_detail_options_order_date_td_label" class="form_cell"><label for="order_order_date"  class="form_label">order date:</label></td>
				<td id="order_detail_options_order_date_td_input" class="form_cell"><input type="text" name="order_order_date" id="order_order_date" title="the date order was placed" class="text ui-widget-content ui-corner-all form_input" value="" data-field="order_date" /></td>
				<td>&nbsp;</td>
				<td id="order_detail_options_order_company_td_label" class="form_cell"><label for="order_order_company" class="form_label">invoicing company</label></td>
				<td id="order_detail_options_order_company_td_input" class="form_cell">
				<div class="ui-widget">
				<select id="order_order_company" name="order_order_company" title="which company is responsible for this order?" class="text ui-widget-content ui-corner-all form_input" data-model="company" data-field="name">
				  <option value="1">SmartPractice</option>
				  <option value="2">SmartMethods</option>
				</select>
                </div>
                </td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td id="order_detail_options_wanted_by_td_label" class="form_cell"><label for="order_wanted_by" class="form_label">wanted by:</label></td>
				<td id="order_detail_options_wanted_by_td_input" class="form_cell"><input type="text" name="order_wanted_by" id="order_wanted_by" title="the date client wants to have recieved order" class="text ui-widget-content ui-corner-all form_input" value="" data-field="wanted_by" /></td>
				<td>&nbsp;</td>
				<td id="order_detail_options_shipping_cost_td_label" class="form_cell"><label for="order_shipping_cost" class="form_label">shipping cost:</label></td>
				<td id="order_detail_options_shipping_cost_td_input" class="form_cell"><input type="text" name="order_shipping_cost" id="order_shipping_cost" title="the cost to ship the order" class="text ui-widget-content ui-corner-all form_input" value="" data-field="shipping_cost" /> </td>
				<td>&nbsp;</td>
			</tr>
			</table>
			</p>
			</div>
			<h3>Product Items</h3>
			<div>
				<table id="order_product_items" class="form_list">
				<tr class="form_list_row">
					<th id="order_product_items_product_code_th" class="form_list_header">Item Code</th>
					<th id="order_product_items_cur_stock_th" class="form_list_header">In Stock</th>
					<th id="order_product_items_quantity_th" class="form_list_header">Quantity Out</th>
					<th id="order_product_items_back_order_th" class="form_list_header">BO</th>
					<th id="order_product_items_unit_price_th" class="form_list_header">$ EA</th>
					<th id="order_product_items_discount_percentage_th" class="form_list_header">Discount</th>
					<th id="order_product_items_TAX_th" class="form_list_header">TAX</th>
					<th id="order_product_items_total_th" class="form_list_header">Item Total</th>
					<th id="order_product_items_delete_th" class="form_list_header">&nbsp;</th>
				</tr>
				<tr class="form_list_row">
					<td colspan="9" class="form_list_item"><a id="order_control_action_add" title="add new item to order" href="#"><img id="icon_order_control_action_add" src="{{ STATIC_URL }}img/icons/16_add.png" />add item</a> </td>
				</tr>
				</table>
				</div>
			<h3>Summary</h3>
				<div>
				<table id="order_product_summary" class="form_list">
				<tr class="form_list_row">
					<th class="form_list_header">Sub Profit</th>
					<th class="form_list_header">Sub Cost</th>
					<th class="form_list_header">Sub Price</th>
					<th class="form_list_header">Disc</th>
					<th class="form_list_header">Gross Profit</th>
					<th class="form_list_header">Gross Cost</th>
					<th class="form_list_header">Gross Price</th>
					<th class="form_list_header">Tax</th>
					<th class="form_list_header">Net Profit</th>
					<th class="form_list_header">Net Cost</th>
					<th class="form_list_header">Net Price</th>
					<th class="form_list_header">Ship</th>
					<th class="form_list_header">Total Cost</th>
					<th class="form_list_header">Total Price</th>
				</tr>
				<tr class="form_list_row">
					<td><!--order.sub_total|sub:order.sp_cost--></td>
					<td><!--order.sp_cost--></td>
					<td><!--order.sub_total--></td>
					<td><!--order.discount--></td>
					<td><!--order.sub_total|sub:order.sp_cost|sub:order.discount--></td>
					<td><!--order.sp_cost|add:order.discount--></td>
					<td><!--order.sub_total|sub:order.discount--></td>
					<td><!--order.tax--></td>
					<td><!--order.sub_total|sub:order.sp_cost|sub:order.discount|add:order.tax--></td>
					<td><!--order.sp_cost|add:order.discount|add:order.tax--></td>
					<td><!--order.sub_total|sub:order.discount|add:order.tax--></td>
					<td><!--order.shipping_cost--></td>
					<td><!--order.sp_cost|add:order.discount|add:order.tax|add:order.shipping_cost--></td>
					<td><!--order.sub_total|sub:order.discount|add:order.tax|add:order.shipping_cost--></td>
				</tr>
				</table>
				</div>
			<!--- End order_accordion -->
			</div>

			<table id="order_control_action">
			<tr>
			<td id="order_control_action_save" class="form_cell"><a id="order_control_action_save" title="save order" href="#" class="button form_button"><img id="icon_order_control_action_save" src="{{ STATIC_URL }}img/icons/32_save.png" /><br />save</a>&nbsp;</td>
			<td id="order_control_action_cancel" class="form_cell"><a id="order_control_action_cancel" title="save order" href="#" class="button form_button"><img id="icon_order_control_action_cancel" src="{{ STATIC_URL }}img/icons/32_cancel.png" /><br />cancel</a>&nbsp;</td>
			</tr>
			</table>
		</fieldset>
	</form>
	<!-- End order_content  -->
	</div>