<div id="medium_item_dialog">
	<form id="frm_medium" data-model="medium">
        <input type="hidden" name="obj_id" class="obj_id" value="" />
        <fieldset>
            <table>
                <tr>
                    <td class="form_cell"><label for="medium_name" class="form_label">name:</label></td>
                    <td class="form_cell"><input type="text" name="medium_name" id="medium_name" class="obj_name text ui-widget-content ui-corner-all form_input" data-field="name" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="medium_description" class="form_label">description:</label></td>
                    <td class="form_cell"><input type="text" name="medium_description" id="medium_description" class="obj_description text ui-widget-content ui-corner-all form_input" data-field="description" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="medium_notes" class="form_label">notes:</label></td>
                    <td class="form_cell"><input type="text" name="medium_notes" id="medium_notes" class="obj_notes text ui-widget-content ui-corner-all form_input" data-field="notes" /></td>
                </tr>
            </table>
        </fieldset>
	</form>
</div>
