<div id="medium_list_dialog">
    <div id="medium_list_result" class="search_result">
        <table id="" class="form_list">
            <thead>
                <tr class="form_list_row">
                    <th class="form_list_header">Name</th>
                    <th class="form_list_header">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="form_list_row">
                    <td>empty</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>