/* reset css */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* impact font */
@font-face {
    font-family: 'impact';
    src: url('../fonts/impact-webfont.eot');
    src: url('../fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/impact-webfont.woff') format('woff'),
         url('../fonts/impact-webfont.ttf') format('truetype'),
         url('../fonts/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ece5c7;
    font-family: Tahoma, Helvetica, Geneva, Arial, sans-serif;
}

li {
    list-style: none;
    float: left;
}

fieldset label, td label {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    background: #EEE;
    border: 1px solid #CCC;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #FFF;
    font-size: 13px;
    padding: 0 0 0 5px;
    float: right;
    margin: 0px;
    height: 14px;
    overflow: hidden;
}

input:not([type]), input[type="text"] {
    border: 1px solid #c4c4c4;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
}
	/*
    font-size: 13px; 
    padding: 0px; 
    border-radius: 0 5px 5px 0; 
    -moz-border-radius: 0 5px 5px 0; 
    -webkit-border-radius: 0 5px 5px 0; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; 
	/* margin: 0px 8px 6px -5px; *
	margin: 0px;
	height: 14px;
	overflow: hidden;
} 
*/
input:not([type]):focus, input[type="text"]:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

select {
    border: 1px solid #c4c4c4;
    font-size: 12px;
    padding: 0px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
	max-width: 180px;
	/* margin: 0px 8px 6px -5px; */
	/* height: 14px */
}

select:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.bold {
    font-weight: 900;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.nounderline {
    text-decoration: none;
}

.form_list {
    border: 1px solid #c4c4c4;
    padding: 2px;
}

.form_list_header {
}

.form_list_item {
    text-align: center;
}

.button {
    -moz-box-shadow: inset 0px 0px 14px -3px #f2fadc;
    -webkit-box-shadow: inset 0px 0px 14px -3px #f2fadc;
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
    background: -moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: -ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
    background: linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
    background-color: #dbe6c4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ced9bf;
    text-align: center;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
    background: -moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: -ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
    background: linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
    background-color: #9ba892;
}

.button:active {
    position: relative;
    top: 1px;
}

#container {
    padding-top: 10px;
    width: 960px;
    margin: auto;
    background-color: rgba(70, 70, 70, 0.05);
    z-index: 1;
    height: 100%;
    padding-bottom: 350px;
}

#header {
    position: absolute;
    font-size: 10px;
    height: 11px;
    width: 960px;
    background-color: grey;
    top: 0px;
    z-index: 999999;
}

#header_left {
    float: left;
    width: 320px;
    font-family: impact;
}

#header_center {
    width: 319px;
    text-align: center;
    float: left;
}

#header_right {
    float: right;
    width: 320px;
    text-align: right;
}

#icon_user_prefs {
    height: 8px;
}

#window {
    width: 740px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);
    box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);
    margin: auto;
    background-color: #dbdada;
    margin-top: 10px;
    z-index: 100;
}

#content {
    width: 100%;
    min-height: 250px;
    background-color: white;
    z-index: 100;
}

#top_menu {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-style: solid;
    height: 16px;
    font-size: 12px;
    padding-bottom: 2px;
    z-index: 10000;
}

#icon_menu_reports {
    height: 14px;
}

#icon_menu_orders {
    height: 14px;
}

#icon_menu_customers {
    height: 14px;
}

#icon_logo {
    height: 28px;
}
#logo {
	font-family: impact;
	font-size: 30px;
}

#content {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-style: solid;
    z-index: 1000;
}

#database_name {
}

#footer {
    font-size: 10px;
}

#main_options {
    width: 100%;
    height: 400px;
    table-layout: fixed;
    margin: auto;
}


#main_options td {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

#avator {
    position: fixed;
    bottom: 25px;
    right: 5px;
    padding: 25px 25px 0 25px;
    z-index: 999999;
}
/* Order window div */
#order_window {
    width: 740px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);
    box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);
    margin: auto;
    background-color: #dbdada;
    margin-top: 10px;
    z-index: 110;
    position: absolute;
}

#order_top_menu {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-style: solid;
    height: 16px;
    font-size: 12px;
    padding-bottom: 2px;
    z-index: 10010;
}

#order_content, #customer_content, #product_content {
/*border-bottom-color: grey;
border-bottom-width: 1px;
border-style: solid; */
/* z-index: 1010; */
    width: 100%;
    min-height: 250px;
    background-color: white;
}

#order_footer {
    font-size: 10px;
}
/* LEVEL ONE */
ul.dropdown {
    position: relative;
}

ul.dropdown li {
    font-weight: bold;
    float: left;
    zoom: 1;
    background: #ccc;
}

ul.dropdown a:hover {
    color: #000;
}

ul.dropdown a:active {
    color: #ffa500;
}

ul.dropdown li a {
    display: block;
    padding: 4px 8px;
    border-right: 1px solid #333;
    color: #222;
}

ul.dropdown li:last-child a {
    border-right: none;
} /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover{
	background: #F3D673;
	color: black;
	position: relative;
}
ul.dropdown li.hover a {
color: black; 
}
/* LEVEL TWO */
ul.dropdown ul { 
	width: 120px;
	visibility: hidden;
	position: absolute;
	top: 100%; 
	left: 0; 
}
ul.dropdown ul li 	{ 
	font-weight: normal;
	background: #f6f6f6;
	color: #000;
	border-bottom: 1px solid #ccc;
	float: none;
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block; 
} 
/* LEVEL THREE */
ul.dropdown ul ul {
	left: 100%;
	top: 0; 
}
ul.dropdown li:hover > ul {
	visibility: visible;
}
/* TOOL-TIPS */
.ui-tooltip, .arrow:after {
	background: white;
	border: 2px solid white;
	position: fixed;
}
.ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	text-transform: lowercase;
	font-size: 10px;
	box-shadow: 0 0 2px black;
	z-index: 999999;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 100%;
	margin-left: -67px;
	bottom: -16px;
	z-index: 999999;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 25px;
	top: -20px;
	width: 20px;
	height: 20px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
.ui-spinner {
	display: inline;
}
/* JQUERY-UI CUSTOMISATIONS */	
.ui-widget-header {
	border: 1px solid grey;
	background: #dbdada;
    min-width: 170px;
}
.ui-widget, .ui-widget button {
	font-family: Tahoma, Helvetica, Geneva, Arial, sans-serif;
	font-size: 10px;
}
.ui-widget-content {
	border: 1px solid grey;
	background: #fff;
	/*-webkit-box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);
	box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9); */
	color: #333333;
	}
.ui-dialog .ui-dialog-content {
	border: none;
}
#dialog-form .ui-dialog-content .ui-widget-content {
	-webkit-box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);
	box-shadow: 0px 0px 2px 1px rgba(70, 70, 70, 0.9);	
}
.ui-widget-header {
	color: #000000;
	font-weight: bold;
	font-size: 12px;
}
.ui-dialog {
	padding: 0;
}
.ui-corner-all {
	border-radius: 0px;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0px;
}
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-dialog .ui-dialog-titlebar-close {
	width: 14px;
	height: 14px;	
	margin: -7px 0 0 0;
}

.ui-dialog-titlebar-buttonpane a.ui-corner-all {
	width: 12px;
	height: 12px;
}

.ui-dialog-titlebar-buttonpane a.ui-corner-all span.ui-icon {
    margin: -1px 0 0 -2px;
}

.ui-dialog-title {
	font-family: impact;
	font-size: 14px;
	font-weight: 100;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: #000;
	font-weight: 100;
}
.ui-widget .ui-widget {
	font-size: 12px;
}
.ui-spinner {
	border: none;
}
.ui-spinner-input {
	padding: 0;
	margin: 0;
}
.ui-spinner a.ui-spinner-button {
	margin-top: 1px;
	margin-right: 1px;	
}
.ui-accordion .ui-accordion-content {
	height: 140px;
	padding: 5px 2px;
}
.custom-combobox {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -5px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}
.custom-combobox-input {
	margin: 0;
	/* padding: 0.3em; */
	/* margin-top: -10px; */
}
/* Orders Form Styling */
#order_main_options, #order_detail_options, #order_product_items, #customer_contact_items {
	width: 100%;
	font-size: 14px;
}

#order_product_items .form_list_header {
    font-size: 12px;
}
#order_product_items .form_list_item {
    font-size: 12px;
}
#order_main_options_customer_details {
	width: 400px;
	border-color: grey;
	border-width: 1px;
	border-style: solid;
	/* border-right-style: none;
	border-top-style: none; */
	padding: 5px;
	margin-right: 5px;
	background: #f6f6f6;
}
#order_main_options_customer_details:hover, .form_list_row:hover  {
	background: #F3D673;
	outline: none;
	border: 1px solid #7bc1f7;
	box-shadow: 0px 0px 8px #7bc1f7;
	-moz-box-shadow: 0px 0px 8px #7bc1f7;
	-webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.form_label {
	float: right;	
}
/*
.form_input {
	float: left;
}
*/
.form_button {
	float: left;
}
.form_cell {
	vertical-align: middle;
	padding-bottom: 5px;
	padding-top: 5px;
}
.form_list_header {
	background-color: #eee;
}
#order_main_options_customer_details_content {
	font-size: 14px;
}
#order_main_options_customer_details_content_addressblock {
	float: right;
	/* font-size: 10px; */
}
#order_customer_id_search, #order_order_id_search, #order_invoice_id_search, #customer_name_search, .sml_button {
	padding: 0;
}
#customer_main_options_customer_delivery_address_same_td_input, #product_main_options_product_auto_royalty_amount_td_input, 
#product_main_options_product_use_price_template_td_input, #product_main_options_product_auto_name_td_input {
	text-align: right;	
}
#product_content_top_left, #product_content_top_middle, #product_content_top_right {
	width: 33%;
	display: inline-block;
}
.search_result {
    width: 100%;
    height: 210px;
    overflow-y: scroll;
}

.ui-dialog-maximized .search_result {
    width: 100%;
    height: 100%;

}

.search_result table {
    width: 100%;
}

.search_result tbody tr {
    cursor: pointer;
}

.search_result tbody tr td {
    border-right: 1px solid #ccc;
}

.price_table {
    width: 100%;
}


.with100, .with100 tr, .with100 tbody, .with100 thead {
    width: 100%;
}

#show_note textarea {
    width: 500px;
    height: 200px;
}

ul.dropdown ul.sub_menu_reports {
    width: 220px;
}

ul.dropdown ul.sub_menu_products {
    width: 220px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}
.report1_table thead th {
    cursor: pointer;
}

.buttons-right {
    float: right;
}

.btn32 {
    display: inline-block;
    padding: 14px 5px 14px 40px;
    margin: 5px;
}
.btn32-pdf {
    background: url('../img/icons/32_pdf.png') 5px no-repeat;
}
.btn32-csv {
    background: url('../img/icons/32_csv.png') 5px no-repeat;
}

h1.report_accordion {
    position: relative;
}

h1.report_accordion span {
    position: absolute;
    right: 10px;
}

h1.report_accordion span:last-child {
    right: 200px;
}

.order_product_summary {
    padding: 5px 15px;
}
.order_product_summary li {
    float: none;
}

.order_product_summary li strong {
    display: inline-block;
    width: 100px;
}

#customer_order_items td {
    cursor: pointer;
}

.order_order_notes {
    width: 300px;
    height: 100px;
}

.img16 {
    display: block;
    width: 16px;
    height: 16px;
}

.img32 {
    display: block;
    width: 32px;
    height: 32px;
}

.add_product_to_order {
    background: url('../img/icons/16_add.png') no-repeat;
    display: none;
}

.back_order_yes {
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_yes.png') no-repeat;
}

.back_order_no {
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_no.png') no-repeat;
}

.order_product_pl {
    font-size: 10px !important;
}

.frm_customer .form_label {cursor: pointer;}

.find_customer_close {
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_cancel.png') no-repeat;

    position: absolute;
    right: -20px;
    top: 4px;
    cursor: pointer;
}

#find_customer_additional_filter td:last-child {
    position: relative;
}

#find_customer_buttons {
    width: 82px;
}

#find_customer_search {
    margin-bottom: 5px;
}

.issues_list .form_list_row td:last-child {
    width: 30px;
}

.cursor_pointer {
    cursor: pointer;
}

.catalog_issues option[disabled] {
    font-weight: bold;
}

#product_find_catalog_block {
    margin: 0 0 5px 0;
}

.order_form_control {
    margin: 10px 0;
}
.order_form_control div {
    float: left;
}

.ui-dialog-titlebar-buttonpane {
    padding-top: 3px;
}

.icon_true {
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_yes.png') no-repeat;
}

.icon_false {
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_no.png') no-repeat;
}

#bo_list_result tr td {
    padding: 3px;
}
#bo_list_result .link_color {
    color: #0033ff;
}

.small_button {
    padding: 0;
    margin-left: 5px;
}

.product_current_stock {
    width: 60px;
    float: left;
    margin-top: 1px;
}

.btn_cancel {
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_cancel.png');
    cursor: pointer;
}

.report_5_products {
    height: 100px;
    overflow-y: scroll;
}

.add_product_from_list_to_report5 {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url('../img/icons/16_reports.png') no-repeat;
}

#frm_report_5 .button_products_find_dialog {
    margin-right: 5px;
}

#report7_title h1 {
    font-size: 18px;
}

#find_product_erase {
    margin-left: 5px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url("../img/loader.gif") center no-repeat;
}

.invoice_message {
    width: 100%;
    height: 200px;
}

#frm_send_invoice table tr td:first-child {
    width: 100px;
}