<div id="size_item_dialog">
	<form id="frm_size" data-model="size">
        <input type="hidden" name="obj_id" class="obj_id" value="" />
        <fieldset>
            <table>
                <tr>
                    <td class="form_cell"><label for="size_width" class="form_label">width:</label></td>
                    <td class="form_cell"><input type="text" name="size_width" id="size_width" class="obj_width text ui-widget-content ui-corner-all form_input" data-field="width" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="size_height" class="form_label">height:</label></td>
                    <td class="form_cell"><input type="text" name="size_height" id="size_height" class="obj_height text ui-widget-content ui-corner-all form_input" data-field="height" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="size_depth" class="form_label">depth:</label></td>
                    <td class="form_cell"><input type="text" name="size_depth" id="size_depth" class="obj_depth text ui-widget-content ui-corner-all form_input" data-field="depth" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="size_units" class="form_label">units:</label></td>
                    <td class="form_cell"><input type="text" name="size_units" id="size_units" class="obj_units text ui-widget-content ui-corner-all form_input" data-field="units" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="size_notes" class="form_label">notes:</label></td>
                    <td class="form_cell">
                        <textarea name="size_notes" id="size_notes" class="obj_notes text ui-widget-content ui-corner-all" data-field="notes"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="size_sub_notes" class="form_label">sub notes:</label></td>
                    <td class="form_cell">
                        <textarea name="size_sub_notes" id="size_sub_notes" class="obj_sub_notes text ui-widget-content ui-corner-all" data-field="sub_notes">
                        </textarea>
                    </td>
                </tr>
            </table>
        </fieldset>
	</form>
</div>
