<div id="size_list_dialog">
    <div id="size_list_result" class="search_result">
        <table id="" class="form_list">
            <thead>
                <tr class="form_list_row">
                    <th class="form_list_header">Width</th>
                    <th class="form_list_header">Height</th>
                    <th class="form_list_header">Depth</th>
                    <th class="form_list_header">Units</th>
                </tr>
            </thead>
            <tbody>
                <tr class="form_list_row">
                    <td colspan="4">empty</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>