<div id="order_content">
	<form id="frm_order" data-model="order">
        <input type="hidden" name="order_id" class="order_id" data-field="id">
        <input type="hidden" name="customer_id" class="customer_id" data-field="customer">
        <input type="hidden" name="order_date" class="hidden_order_date" data-field="order_date">
        <input type="hidden" name="wanted_by" class="hidden_wanted_by" data-field="wanted_by">

        <input type="hidden" name="from_src_order_id" class="order_from_src_order_id" data-field="from_src_order_id">
        <input type="hidden" name="from_borders_fakeid" class="order_from_borders_fakeid" data-field="from_borders_fakeid">

        <table id="order_main_options">
			<tr>
				<td  class="form_cell"><label for="order_customer_id" class="form_label">customer ID:</label></td>
				<td  class="form_cell"><input type="text" name="order_customer_id" title="the customer or company id" class="customer_id text ui-widget-content ui-corner-all form_input" readonly value="" data-field="customer" data-type="integer" /></td>
				<td  class="form_cell"><a title="show more info about customer" href="#" id="order_customer_id_search" class="order_customer_id_search button form_button">
                    <img id="icon_order_customer_id_search" src="{{ STATIC_URL }}img/icons/16_find_customer.png" /></a>
                </td>
				<td id="order_main_options_customer_details" colspan="3" rowspan="3">
					<div id="order_main_options_customer_details_content">
						<div id="order_main_options_customer_details_content_addressblock"></div>
					</div>
				</td>
			</tr>

			<tr>
				<td class="form_cell"><label for="order_order_id"  class="form_label">order ID:</label></td>
				<td colspan="2" class="form_cell"><input type="text" name="order_order_id" title="the order id" class="order_id text ui-widget-content ui-corner-all form_input" value="" readonly/></td>
			</tr>
			<tr>
				<td class="form_cell"><label for="search" class="form_label">invoice Number:</label></td>
				<td class="form_cell"><input type="text" name="order_invoice_number" title="the invoice number" class="order_invoice_number text ui-widget-content ui-corner-all form_input" readonly value=""/></td>
				<td class="form_cell"><a id="order_invoice_id_search" title="find an invoice" href="#" class="button form_button"><img id="icon_order_invoice_id_search" src="{{ STATIC_URL }}img/icons/16_find_invoice.png" /></a></td>
			</tr>

        </table>

		<div id="order_accordion">
            <!-- INFO -->
			<h3>General</h3>
            <div>
                <table>
                    <tr>
                        <td class="form_cell"><label for="order_order_date"  class="form_label">order date:</label></td>
                        <td class="form_cell"><input type="text" name="order_order_date" title="the date order was placed" class="order_order_date text ui-widget-content ui-corner-all form_input" value="" /></td>
                        <td class="form_cell" rowspan="5" style="vertical-align: top;">
                            <div style="padding-left: 20px;">
                                <div><strong>Notes</strong></div>
                                <textarea name="order_notes" class="order_order_notes" data-field="order_notes"></textarea>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="form_cell"><label for="order_wanted_by" class="form_label">wanted by:</label></td>
                        <td class="form_cell"><input type="text" name="order_wanted_by" title="the date client wants to have recieved order" class="order_wanted_by text ui-widget-content ui-corner-all form_input" value=""/></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="order_shipping_cost" class="form_label">shipping cost:</label></td>
                        <td class="form_cell"><input type="text" name="order_shipping_cost" title="the cost to ship the order" class="order_shipping_cost text ui-widget-content ui-corner-all form_input" value="" data-field="shipping_cost" /> </td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="order_status" class="form_label">order status</label></td>
                        <td class="form_cell">
                            <select name="order_status" id="order_status" class="order_status text ui-widget-content ui-corner-all form_input" title="which status has this order?">
                            </select>
                        </td>
                    </tr>

			    </table>
            </div>



            <!-- PRODUCTS -->
			<h3>Product Items</h3>
			<div>
				<table id="order_product_items" class="form_list">
				<tr class="form_list_row">
					<th  class="form_list_header">Code</th>
					<th class="form_list_header">In Stock</th>
					<th class="form_list_header">Quantity Out</th>
					<th class="form_list_header">BO</th>
                    <th class="form_list_header" title="price level">PL</th>
					<th class="form_list_header">$ EA</th>
					<th class="form_list_header">Discount %</th>
					<th class="form_list_header">TAX</th>
                    <th class="form_list_header">Royalty</th>
					<th class="form_list_header">Item Total</th>
					<th class="form_list_header">&nbsp;</th>
				</tr>
				<tr class="form_list_row">
					<td colspan="11" class="form_list_item">
                        <a id="order_control_action_add" title="add new item to order" href="#">
                            <img id="icon_order_control_action_add" src="{{ STATIC_URL }}img/icons/16_add.png" />add item</a>
                    </td>
				</tr>
				</table>
            </div>

            <!-- STATUSES -->
            <h3>Status history</h3>
            <div>
				<table id="order_statuses" class="form_list with100">
                    <tr class="form_list_row">
                        <th  class="form_list_header">Date</th>
                        <th class="form_list_header">Status</th>
                        <th class="form_list_header">User</th>
                        <th class="form_list_header">Reason</th>
                    </tr>
				</table>
            </div>

            <!-- SUMMARY -->
			<h3>Summary</h3>
            <div class="order_product_summary">

            </div>

            <!-- SHIPPING -->
            <h3>Shipping</h3>
            <div>
                <table>
                    <tr>
                        <td class="form_cell"><label for="shipping_attn" class="form_label">Attr:</label></td>
                        <td class="form_cell"><input type="text" name="shipping_attn" title="attr" data-field="shipping_attn" class="order_shipping_attn text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="shipping_address_line_1" class="form_label">Address (line 1):</label></td>
                        <td class="form_cell"><input type="text" name="shipping_address_line_1" title="address line 1" data-field="shipping_address_line_1" class="order_shipping_address_line_1 text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="shipping_address_line_2" class="form_label">Address (line 2):</label></td>
                        <td class="form_cell"><input type="text" name="shipping_address_line_2" title="address line 2" data-field="shipping_address_line_2" class="order_shipping_address_line_2 text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="shipping_suburb" class="form_label">Suburb:</label></td>
                        <td class="form_cell"><input type="text" name="shipping_suburb" title="suburb" data-field="shipping_suburb" class="order_shipping_suburb text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="shipping_state" class="form_label">State:</label></td>
                        <td class="form_cell"><input type="text" name="shipping_state" title="state" data-field="shipping_state" class="order_shipping_state text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="shipping_postcode" class="form_label">Postcode:</label></td>
                        <td class="form_cell"><input type="text" name="shipping_postcode" title="postcode" data-field="shipping_postcode" class="order_shipping_postcode text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="shipping_country" class="form_label">Country:</label></td>
                        <td class="form_cell"><input type="text" name="shipping_country" title="country" data-field="shipping_country" class="order_shipping_country text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                </table>
            </div>

            <!-- INVOICE -->
            <h3>Invoice</h3>
            <div>
                <table>
                    <tr>
                        <td class="form_cell"><label for="invoice_company" class="form_label">invoicing company</label></td>
                        <td class="form_cell">
                            <select name="invoice_company" class="invoice_company text ui-widget-content ui-corner-all form_input" title="which company is responsible for this order?" data-model="invoice" data-field="company">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_num" class="form_label">invoice Number:</label></td>
                        <td class="form_cell"><input type="text" name="order_invoice_num" title="the invoice number" class="order_invoice_number text ui-widget-content ui-corner-all form_input" value="" data-model="invoice" data-field="number" data-type="integer"/></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_company_name" class="form_label">Customer name:</label></td>
                        <td class="form_cell"><input type="text" name="invoice_company_name" title="the company name" data-field="invoice_company_name" class="order_invoice_company_name text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>

                    <tr>
                        <td class="form_cell"><label for="invoice_company_reg" class="form_label">Company name:</label></td>
                        <td class="form_cell"><input type="text" name="invoice_company_reg" title="Company reg" data-field="invoice_company_reg" class="order_invoice_company_reg text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_address_line_1" class="form_label">Address (line 1):</label></td>
                        <td class="form_cell"><input type="text" name="invoice_address_line_1" title="Address (line 1)" data-field="invoice_address_line_1" class="order_invoice_address_line_1 text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_address_line_2" class="form_label">Address (line 2):</label></td>
                        <td class="form_cell"><input type="text" name="invoice_address_line_2" title="Address (line 2)" data-field="invoice_address_line_2" class="order_invoice_address_line_2 text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_suburb" class="form_label">Suburb:</label></td>
                        <td class="form_cell"><input type="text" name="invoice_suburb" title="suburb" data-field="invoice_suburb" class="order_invoice_suburb text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_state" class="form_label">State:</label></td>
                        <td class="form_cell"><input type="text" name="invoice_state" title="state" data-field="invoice_state" class="order_invoice_state text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_postcode" class="form_label">Postcode:</label></td>
                        <td class="form_cell"><input type="text" name="invoice_postcode" title="postcode" data-field="invoice_postcode" class="order_invoice_postcode text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                    <tr>
                        <td class="form_cell"><label for="invoice_country" class="form_label">Country:</label></td>
                        <td class="form_cell"><input type="text" name="invoice_country" title="country" data-field="invoice_country" class="order_invoice_country text ui-widget-content ui-corner-all form_input" value="" /></td>
                    </tr>
                </table>
            </div>


			<!--- End order_accordion -->
        </div>

        <div class="order_form_control">
            <div>
                <a id="order_control_action_save" title="save order" href="#" class="save_order button form_button">
                    <img src="{{ STATIC_URL }}img/icons/32_save.png" /><br />save</a>&nbsp;
            </div>
            <div>
                <a id="order_control_action_delete" title="save order" href="#" class="dialog_delete_order button form_button">
                    <img id="icon_order_control_action_delete" src="{{ STATIC_URL }}img/icons/32_erase.png" /><br />delete</a>&nbsp;
            </div>
            <div>
                <a title="refresh dialog" href="#" class="dialog_refresh_order button form_button">
                    <img src="{{ STATIC_URL }}img/icons/32_magic.png" /><br />refresh</a>&nbsp;
            </div>
            <div>
                <a id="order_control_action_cancel" title="save order" href="#" class="dialog_close_order button form_button">
                    <img id="icon_order_control_action_cancel" src="{{ STATIC_URL }}img/icons/32_cancel.png" /><br />cancel</a>&nbsp;
            </div>
            <div class="pull-right">
                <a title="print order" href="#" class="button form_button">
                    <img src="{{ STATIC_URL }}img/icons/32_printer.png" /><br />print</a>&nbsp;
            </div>
            <div class="pull-right">
                <a title="email order" href="#" class="button form_button">
                    <img src="{{ STATIC_URL }}img/icons/32_email.png" /><br />email</a>&nbsp;
            </div>
        </div>

	</form>
	<!-- End order_content  -->
	</div>