<div id="order_send_invoice">
    <form id="frm_send_invoice">
        <table width="100%">
            <tr>
                <td class="form_cell"><label for="invoice_to" class="form_label">To:</label></td>
                <td class="form_cell">
                    <input type="text" name="invoice_to" class="invoice_to text ui-widget-content ui-corner-all form_input" value=""/>
                </td>
            </tr>
            <tr class="saved_contacts">
                <td class="form_cell"></td>
                <td class="form_cell">
                    OR select contact <select class="invoice_to_select text ui-widget-content ui-corner-all form_input"></select>
                </td>
            </tr>
            <tr>
                <td class="form_cell"><label for="invoice_from" class="form_label">From:</label></td>
                <td class="form_cell">
                    <input type="text" name="invoice_from" class="invoice_from text ui-widget-content ui-corner-all form_input" value=""/>
                </td>
            </tr>
            <tr>
                <td class="form_cell"><label for="invoice_subject" class="form_label">Subject:</label></td>
                <td class="form_cell">
                    <input type="text" name="invoice_subject" class="invoice_subject text ui-widget-content ui-corner-all form_input" value=""/>
                </td>
            </tr>
            <tr>
                <td class="form_cell" style="vertical-align: top;"><label for="invoice_message" class="form_label">Message:</label></td>
                <td class="form_cell">
                    <textarea name="invoice_message" class="invoice_message"></textarea>
                </td>
            </tr>
            <tr>
                <td class="form_cell"><label class="form_label">File:</label></td>
                <td class="form_cell">
                    <a href="" class="invoice_file_link" target="_blank"><div class="icon16 icon_pdf"></div><span></span></a>
                </td>
            </tr>
        </table>

    </form>
</div>