<div id="bo_list_dialog">
    <div id="bo_list_result" class="search_result">
        <table class="form_list">
            <thead>
                <tr class="form_list_row">
                    <th class="form_list_header">Date/time</th>
                    <th class="form_list_header">Product</th>
                    <th class="form_list_header">Amount</th>
                    <th class="form_list_header">Complete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td colspan="4">empty</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>