<div id="product_content">
	<form id="frm_product" data-model="product">
    <input type="hidden" name="product_id" class="product_id" value="" />

	<fieldset>
	<div id="product_content_top_left">
		<table>
		<tr>
			<td class="form_cell" style="width: 40%;"><label for="product_id" class="form_label">code:</label></td>
			<td class="form_cell"><input type="text" name="product_code" id="product_code" class="text ui-widget-content ui-corner-all form_input product_code" readonly data-field="code" /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_name" class="form_label">name:</label></td>
			<td class="form_cell"><input type="text" name="product_name" class="product_name text ui-widget-content ui-corner-all form_input" data-field="name" readonly /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_size" class="form_label">size:</label></td>
			<td class="form_cell">
                <select name="product_size" title="what type of product is this?" class="product_size text ui-widget-content ui-corner-all form_input" data-field="size">
				</select>
            </td>
        </tr>
        <tr>
			<td class="form_cell"><label for="product_type" class="form_label">type</label></td>
			<td class="form_cell">
                <input type="text" name="product_type" title="what type of product is this?" class="product_type text ui-widget-content ui-corner-all form_input" data-field="type" />
            </td>
		</tr>
	</table>
	</div>
	<div id="product_content_top_middle">
	<table>
		<tr>
			<td class="form_cell" style="width: 40%;"><label for="product_cost_price" class="form_label">cost price:</label></td>
			<td class="form_cell"><input type="text" name="product_cost_price" title="the cost to ship the order" class="product_cost_price text ui-widget-content ui-corner-all form_input" data-field="sp_cost" /></td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_current_stock" class="form_label">current stock:</label></td>
			<td class="form_cell">
                <input type="text" name="product_current_stock" title="the cost to ship the order" class="product_current_stock text ui-widget-content ui-corner-all form_input" data-field="current_stock" readonly />
                <a title="Stock Adjust" href="#" id="product_form_stock_adjust" class="button form_button small_button">
                    <img src="{{ STATIC_URL }}img/icons/16_magic.png" />
                </a>
            </td>
		</tr>		
		<tr>
			<td class="form_cell"><label for="product_minimum_stock" class="form_label">min. stock:</label></td>
			<td class="form_cell"><input type="text" name="product_minimum_stock" title="the cost to ship the order" class="product_minimum_stock text ui-widget-content ui-corner-all form_input" data-field="minimum_stock" /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_supplier" class="form_label">supplier:</label></td>
			<td class="form_cell">
                <select name="product_supplier" class="product_supplier text ui-widget-content ui-corner-all form_input" data-field="supplier">
				</select>
        </tr>
	</table>
	</div>
	<div id="product_content_top_right">
	<table>
        <tr>
			<td class="form_cell" style="width: 40%;"><label for="product_medium" class="form_label">medium:</label></td>
			<td class="form_cell">
                <select name="product_medium" class="product_medium text ui-widget-content ui-corner-all form_input" data-field="medium">
				</select>
        </tr>
        <tr>
			<td class="form_cell"><label for="product_royalty_group" class="form_label">royalty group:</label></td>
			<td class="form_cell">
				<select name="product_royalty_group" class="product_royalty_group text ui-widget-content ui-corner-all form_input" data-field="royalty_group">
				  <option value="">--- none ---</option>
				</select>
            </td>
		</tr>
        <tr>
			<td class="form_cell"><label for="product_manual_royalty" class="form_label">man. royalty:</label></td>
			<td class="form_cell"><input type="text" name="product_manual_royalty" title="the royalty percent 0..100%" class="product_manual_royalty text ui-widget-content ui-corner-all form_input" data-field="manual_royalty" placeholder="1..100%" /></td>
        </tr>

		</table>
		</div>
        <div id="product_accordion">
            <h3>Price levels</h3>
            <div>
                <table class="form_list price_table">
                    <thead>
                        <tr class="form_list_row">
                            <th class="form_list_header">Price</th>
                            <th class="form_list_header">Min Qty</th>
                            <th class="form_list_header">Max Qty</th>
                            <th class="form_list_header">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr class="form_list_row">
                            <td colspan="4" class="form_list_item">
                                <a title="add new price level" href="#" class="price_level_add_btn">
                                    <img src="{{ STATIC_URL }}img/icons/16_add.png" />add price level</a>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>

            <h3>Catalog links</h3>
            <div>
                <table class="form_list catalog_list_table with100">
                    <thead>
                        <tr class="form_list_row">
                            <th class="form_list_header">Catalog / Issue</th>
                            <th class="form_list_header">Page</th>
                            <th class="form_list_header">Img</th>
                            <th class="form_list_header">Sub</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr class="form_list_row">
                            <td colspan="4" class="form_list_item">
                                <a title="add new catalog link" href="#" class="product_catalog_add_btn">
                                    <img src="{{ STATIC_URL }}img/icons/16_add.png" />add catalog link</a>
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>

            <h3>Back orders</h3>
            <div>
                <table class="form_list with100 product_bo_table">
                    <thead>
                        <tr class="form_list_row">
                            <th class="form_list_header">Order</th>
                            <th class="form_list_header">Date/time</th>
                            <th class="form_list_header">Amount</th>
                            <th class="form_list_header">Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td colspan="4">empty</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Stock Adjust</h3>
            <div>
                <table class="form_list with100 product_stock_table">
                    <thead>
                        <tr class="form_list_row">
                            <th class="form_list_header">User</th>
                            <th class="form_list_header">Date/time</th>
                            <th class="form_list_header">Am. Before</th>
                            <th class="form_list_header">Added</th>
                            <th class="form_list_header">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td colspan="5">empty</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		<table>
            <tr>
                <td class="form_cell">
                    <a title="save product" href="#" class="button form_button product_control_action_save">
                        <img src="{{ STATIC_URL }}img/icons/32_save.png" /><br />save</a>&nbsp;
                </td>
                <td class="form_cell">
                    <a title="refresh dialog" href="#" class="dialog_refresh_product button form_button">
                        <img src="{{ STATIC_URL }}img/icons/32_magic.png" /><br />refresh</a>&nbsp;
                </td>
                <td class="form_cell">
                    <a title="cancel" href="#" class="button form_button product_control_action_cancel">
                        <img src="{{ STATIC_URL }}img/icons/32_cancel.png" /><br />cancel</a>&nbsp;
                </td>
                <td class="form_cell">
                    <a title="Add to Volume by Product report" href="#" class="button form_button add_product_to_report5">
                        <img src="{{ STATIC_URL }}img/icons/32_reports.png" /><br />report</a>&nbsp;
                </td>
            </tr>
		</table>
	</fieldset>
	</form>
</div>
<!-- End product_content -->