<div id="product_content">
	<form id="frm_product">
	<fieldset>
		<table id="product_main_options" border="1">
		<tr>
			<td class="form_cell"><label for="product_id" class="form_label">product code:</label></td>
			<td class="form_cell"><input type="text" name="product_id" id="product_id" class="text ui-widget-content ui-corner-all form_input" readonly  style="width: 60px;" /></td>
        </tr>
        {% if new_product %}
		<tr>
			<td class="form_cell"><input type="checkbox" id="product_auto_name" name="product_auto_name" value="true" checked /></td>
			<td class="form_cell">auto-generate product name</td>
		</tr>
        {% else %}
		<tr>
			<td class="form_cell"><label for="product_name" class="form_label">product name:</label></td>
			<td class="form_cell"><input type="text" name="product_name" id="product_name" class="text ui-widget-content ui-corner-all form_input" /></td>
        </tr>
        {% endif %}
		<tr>
			<td class="form_cell"><label for="product_size" class="form_label">size:</label></td>
			<td class="form_cell">
                <select id="product_size" name="product_size" title="what type of product is this?" class="text ui-widget-content ui-corner-all form_input">
				</select>
            </td>
        </tr>
        <tr>
			<td class="form_cell"><label for="product_type" class="form_label">type</label></td>
			<td class="form_cell">
                <input type="text" name="product_type" id="product_type" title="what type of product is this?" class="text ui-widget-content ui-corner-all form_input" />
            </td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_cost_price" class="form_label">cost price:</label></td>
			<td class="form_cell"><input type="text" name="product_cost_price" id="product_cost_price" title="the cost to ship the order" class="text ui-widget-content ui-corner-all form_input" /></td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_current_stock" class="form_label">current stock:</label></td>
			<td class="form_cell"><input type="text" name="product_current_stock" id="product_current_stock" title="the cost to ship the order" class="text ui-widget-content ui-corner-all form_input" /></td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_minimum_stock" class="form_label">minimum stock:</label></td>
			<td class="form_cell"><input type="text" name="product_minimum_stock" id="product_minimum_stock" title="the cost to ship the order" class="text ui-widget-content ui-corner-all form_input" /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_supplier" class="form_label">supplier:</label></td>
			<td class="form_cell">
                <select id="product_supplier" name="product_supplier" class="text ui-widget-content ui-corner-all form_input">
				</select>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_royalty_img" class="form_label">royalty image:</label></td>
			<td class="form_cell">
				<select id="product_royalty_img" name="product_royalty_img" class="text ui-widget-content ui-corner-all form_input">
				  <!--option value="">--- none ---</option-->
				</select>
            </td>
		</tr>
		<tr>
			<td class="form_cell" colspan="5">
                <input type="checkbox" id="product_auto_royalty_amount" name="product_auto_royalty_amount" value="true" checked />
                auto-select royalty using royalty image</td>
		</tr>
		<tr>
			<td class="form_cell" colspan="5">
                <input type="checkbox" id="product_use_price_template" name="product_use_price_template" value="true" checked />
                use pricing template</td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_price_level_template" class="form_label">price template:</label></td>
			<td class="form_cell">
				<select id="product_price_level_template" name="product_price_level_template" class="text ui-widget-content ui-corner-all form_input">
				  <option value="">--- none ---</option>
				</select>
            </td>
		</tr>
		</table>

        <table id="product_price_level_items" class="form_list">
            <tr class="form_list_row">
                <th id="product_contact_items_first_name_th" class="form_list_header">Price</th>
                <th id="product_contact_items_surname_th" class="form_list_header">Min Qty</th>
                <th id="product_contact_items_phone_th" class="form_list_header">Max Qty</th>
                <th id="product_contact_items_email_th" class="form_list_header">Block</th>
                <th class="form_list_header">&nbsp;</th>
            </tr>
            <tr class="form_list_row">
                <td id="product_contact_item_product_code_td_{ID}" class="form_list_item">0.25</td>
                <td id="product_contact_item_cur_stock_td_{ID}" class="form_list_item">50</td>
                <td id="product_contact_item_quantity_td_{ID}" class="form_list_item">-</td>
                <td id="product_contact_email_td_{ID}" class="form_list_item">yes</td>
                <td id="product_contact_item_delete_td_{ID}" class="form_list_item"><a id="product_contact_item_delete_{ID2}" title="delete this price level" href="#"><img id="icon_order_product_item_delete_{ID2}" src="{{ STATIC_URL }}img/icons/16_delete.png" /></a>
            </tr>
            <tr class="form_list_row">
                <td colspan="5" class="form_list_item"><a id="product_control_action_add_contact" title="add new price level" href="#"><img id="icon_product_control_action_add_contact" src="{{ STATIC_URL }}img/icons/16_add.png" />add price level</a> </td>
            </tr>
        </table>


		<table id="product_control_action">
            <tr>
                <td class="form_cell"><a id="product_control_action_save" title="save product" href="#" class="button form_button"><img id="icon_product_control_action_save" src="{{ STATIC_URL }}img/icons/32_save.png" /><br />save</a>&nbsp;</td>
                <td class="form_cell"><a id="product_control_action_cancel" title="cancel" href="#" class="button form_button"><img id="icon_product_control_action_cancel" src="{{ STATIC_URL }}img/icons/32_cancel.png" /><br />cancel</a>&nbsp;</td>
            </tr>
		</table>
	</fieldset>
	</form>
</div>
<!-- End product_content -->