<div id="product_create">
	<form id="frm_product_create" data-model="product">
	<fieldset>
		<table>
		<tr>
			<td class="form_cell"><label for="product_id" class="form_label">product code:</label></td>
			<td class="form_cell"><input type="text" name="product_code" id="product_code" class="text ui-widget-content ui-corner-all form_input product_code" data-field="code" /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_name" class="form_label">product name:</label></td>
			<td class="form_cell"><input type="text" name="product_name" class="product_name text ui-widget-content ui-corner-all form_input" data-field="name" /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_size" class="form_label">size:</label></td>
			<td class="form_cell">
                <select name="product_size" title="what type of product is this?" class="product_size text ui-widget-content ui-corner-all form_input" data-field="size">
				</select>
            </td>
        </tr>
        <tr>
			<td class="form_cell"><label for="product_type" class="form_label">type</label></td>
			<td class="form_cell">
                <input type="text" name="product_type" title="what type of product is this?" class="product_type text ui-widget-content ui-corner-all form_input" data-field="type" />
            </td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_cost_price" class="form_label">cost price:</label></td>
			<td class="form_cell"><input type="text" name="product_cost_price" title="the cost to ship the order" class="product_cost_price text ui-widget-content ui-corner-all form_input" data-field="sp_cost" /></td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_current_stock" class="form_label">current stock:</label></td>
			<td class="form_cell"><input type="text" name="product_current_stock" title="the cost to ship the order" class="product_current_stock text ui-widget-content ui-corner-all form_input" data-field="current_stock" /></td>
		</tr>
		<tr>
			<td class="form_cell"><label for="product_minimum_stock" class="form_label">minimum stock:</label></td>
			<td class="form_cell"><input type="text" name="product_minimum_stock" title="the cost to ship the order" class="product_minimum_stock text ui-widget-content ui-corner-all form_input" data-field="minimum_stock" /></td>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_supplier" class="form_label">supplier:</label></td>
			<td class="form_cell">
                <select name="product_supplier" class="product_supplier text ui-widget-content ui-corner-all form_input" data-field="supplier">
				</select>
        </tr>
        <tr>
			<td class="form_cell"><label for="product_medium" class="form_label">medium:</label></td>
			<td class="form_cell">
                <select name="product_medium" class="product_medium text ui-widget-content ui-corner-all form_input" data-field="medium">
				</select>
        </tr>
		<tr>
			<td class="form_cell"><label for="product_royalty_group" class="form_label">royalty group:</label></td>
			<td class="form_cell">
				<select name="product_royalty_group" class="product_royalty_group text ui-widget-content ui-corner-all form_input" data-field="royalty_group">
				  <option value="">--- none ---</option>
				</select>
            </td>
		</tr>
        <tr>
			<td class="form_cell"><label for="product_manual_royalty" class="form_label">manual royalty (%):</label></td>
			<td class="form_cell"><input type="text" name="product_manual_royalty" title="the royalty percent 0...100" class="product_manual_royalty text ui-widget-content ui-corner-all form_input" data-field="manual_royalty" placeholder="1.100" /></td>
        </tr>
		</table>

		<table>
            <tr>
                <td class="form_cell"><a title="save product" href="#" class="button form_button product_control_action_save"><img src="{{ STATIC_URL }}img/icons/32_save.png" /><br />create</a>&nbsp;</td>
                <td class="form_cell"><a title="cancel" href="#" class="button form_button product_control_action_cancel"><img src="{{ STATIC_URL }}img/icons/32_cancel.png" /><br />cancel</a>&nbsp;</td>
            </tr>
		</table>
	</fieldset>
	</form>
</div>
<!-- End product_content -->