<div id="supplier_item_dialog">
	<form id="frm_supplier" data-model="supplier">
        <input type="hidden" name="obj_id" class="obj_id" value="" />
        <fieldset>
            <table>
                <tr>
                    <td class="form_cell"><label for="supplier_name" class="form_label">name:</label></td>
                    <td class="form_cell"><input type="text" name="supplier_name" id="supplier_name" class="obj_name text ui-widget-content ui-corner-all form_input" data-field="name" /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="supplier_code" class="form_label">code:</label></td>
                    <td class="form_cell"><input type="text" name="supplier_code" id="supplier_code" class="obj_code text ui-widget-content ui-corner-all form_input" data-field="code" /></td>
                </tr>
            </table>
        </fieldset>
	</form>
</div>
