<div id="show_note">
	<form id="frm_add_note" data-model="contact">
	<fieldset>
        <input type="hidden" name="contact_customer_id" id="contact_customer_id" value="" data-field="customer">
        <input type="hidden" name="note_id" id="note_id" value="" data-field="pk">
        <textarea name="note_text" id="note_text" class="text ui-widget-content ui-corner-all form_input"></textarea>
        <table>
            <tr>
                <td class="form_cell">
                    <a id="customer_note_save" title="save customer" href="#" class="button form_button"><img src="{{ STATIC_URL }}img/icons/32_save.png" /><br />save</a>&nbsp;</td>
            </tr>
		</table>
	</fieldset>
	</form>
</div>