{% load i18n %}
{% load mathfilters %}
{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE html
            PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns="http://www.w3.org/1999/html"
          xml:lang="en" lang="en">
{% endblock doctype %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.css">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
    {% endblock stylesheet %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/globalize.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/globalize.culture.en-AU.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.form.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dropdownPlain.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.taconite.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dialogextend.min.js"></script>
    {% block javascript %}
        <script type="text/javascript">
            __url_customer_list = "{% url 'customer_list' %}";
            __url_product_list = "{% url 'product_list' %}";
            __url_order_list = "{% url 'order_list' %}";
            __url_royalty_list = "{% url 'royalty_list' %}";
            __url_size_list = "{% url 'size_list' %}";
            __url_supplier_list = "{% url 'supplier_list' %}";
            __url_medium_list = "{% url 'medium_list' %}";
            __url_catalog_list = "{% url 'catalog_list' %}";
            __tax_percent = 10;
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/init.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/customer.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/order.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/product.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/medium.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/size.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/supplier.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/royalty.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/catalog.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/report.js"></script>
    {% endblock javascript %}
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="header_left">
                SmartPractice
            </div>
            <div id="header_center">
                version: <span id="version">1.0.1</span>, debug msg: <span id="debug_msg">none</span>
            </div>
            <div id="header_right">
                {% if user.is_authenticated %}
                Logged in as: <span id="login_name" class="bold">{{ user }}</span>&nbsp;<img id="icon_user_prefs" src="{{ STATIC_URL }}img/icons/16_user_preferences.png"/>
                    &nbsp;<a href="{% url 'logout' %}">[logout]</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        <div id="window">
            <div id="top"></div>
            <div id="top_menu">
                <ul class="dropdown">
                    <li>
                        <img src="{{ STATIC_URL }}img/icons/16_customers.png"/>
                        <u>C</u>ustomers&nbsp;
                        <ul class="sub_menu">
                            <li><a href="#" class="nounderline button_customer_add"><img src="{{ STATIC_URL }}img/icons/16_new_customer.png"/>&nbsp;New</a></li>
                            <li><a href="#" class="nounderline button_customers_find_dialog"><img src="{{ STATIC_URL }}img/icons/16_find_customer.png"/>&nbsp;Find</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <img id="icon_menu_orders" src="{{ STATIC_URL }}img/icons/16_orders.png"/>
                        <u>O</u>rders&nbsp;
                        <ul class="sub_menu">
                            <li><a href="#" class="nounderline button_order_create_dialog"><img src="{{ STATIC_URL }}img/icons/16_new_order.png"/>&nbsp;New</a></li>
                            <li><a href="#" class="nounderline button_order_find_dialog"><img src="{{ STATIC_URL }}img/icons/16_find_order.png"/>&nbsp;Find</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/icons/16_products.png"/>
                        <u>P</u>roducts&nbsp;
                        <ul class="sub_menu sub_menu_products">
                            <li><a href="#" class="nounderline button_products_add_dialog"><img src="{{ STATIC_URL }}img/icons/16_new_order.png"/>&nbsp;New</a></li>
                            <li><a href="#" class="nounderline button_products_find_dialog"><img src="{{ STATIC_URL }}img/icons/16_find_order.png"/>&nbsp;Find</a></li>
                            <li><a href="#" class="nounderline button_products_royalty"><img src="{{ STATIC_URL }}img/icons/16_new.png"/>&nbsp;Edit Royalty Groups</a></li>
                            <li><a href="#" class="nounderline button_products_size"><img src="{{ STATIC_URL }}img/icons/16_new.png"/>&nbsp;Edit Sizes</a></li>
                            <li><a href="#" class="nounderline button_products_supplier"><img src="{{ STATIC_URL }}img/icons/16_new.png"/>&nbsp;Edit Suppliers</a></li>
                            <li><a href="#" class="nounderline button_products_medium"><img src="{{ STATIC_URL }}img/icons/16_new.png"/>&nbsp;Edit Mediums</a></li>
                        </ul>
                    </li>
                    <li>
                        <img src="{{ STATIC_URL }}img/icons/16_reports.png"/>
                        <u>R</u>eports&nbsp;
                        <ul class="sub_menu sub_menu_reports">
                            <li><a href="#" class="nounderline" id="menu_report_1">&nbsp;Sales Order Listing</a></li>
                            <li><a href="#" class="nounderline" id="menu_report_2">&nbsp;Top Sellers (customers)</a></li>
                            <li><a href="#" class="nounderline" id="menu_report_3">&nbsp;Sent Items List</a></li>

                            <!--li><a href="#" class="nounderline" id="">&nbsp;Product Sold by Catalog</a></li>
                            <li><a href="#" class="nounderline" id="">&nbsp;Product Stock Costings (stocktake)</a></li>
                            <li><a href="#" class="nounderline" id="">&nbsp;Minimum Stock Report</a></li>
                            <li><a href="#" class="nounderline" id="">&nbsp;Volume by Product</a></li>
                            <li><a href="#" class="nounderline" id="">&nbsp;Royalty Summary by Type</a></li>
                            <li><a href="#" class="nounderline" id="">&nbsp;Find Invoice by Total</a></li-->
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="logo">
                <img id="icon_logo" src="{{ STATIC_URL }}img/logo.png"/><span style="font-family: impact;">SmartPractice</span>
            </div>
            <div id="content">
                <table id="main_options">
                    <tr>
                        <td>
                            <a title="click for catalog section" href="#" class="button button_catalog_dialog">
                                <img src="{{ STATIC_URL }}img/icons/64_find_order.png"/><br/>catalog
                            </a>
                        </td>
                        <td>
                            <a title="click for customers section" href="#" class="button button_customers_find_dialog">
                                <img src="{{ STATIC_URL }}img/icons/64_customers.png"/><br/>find customer
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a title="click for orders section" href="#" class="button button_order_create_dialog">
                                <img src="{{ STATIC_URL }}img/icons/64_orders.png"/><br/>add order
                            </a>

                        </td>
                        <td>
                            <a title="click for orders section" href="#" class="button button_order_find_dialog">
                                <img src="{{ STATIC_URL }}img/icons/64_orders.png"/><br/>find order
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a title="click for add product" href="#" class="button button_products_add_dialog">
                                <img src="{{ STATIC_URL }}img/icons/64_products.png"/><br/>add product
                            </a>
                        </td>
                        <td>
                            <a title="click for products section" href="#" class="button button_products_find_dialog">
                                <img src="{{ STATIC_URL }}img/icons/64_products.png"/><br/>find product
                            </a>
                        </td>
                    </tr>
                    <!--a title="click for the reports section" href="#" class="button">
                        <img src="{{ STATIC_URL }}img/icons/64_reports.png"/><br/>reports
                    </a-->
                </table>
            </div>
            <div id="footer">
                <div id="database_name"></div>
            </div>
        </div>
        {% endblock %}

        <div id="order_footer"></div>
    </div>
    <!--- End container -->
    <div id="avator"><img id="avator_img" src="{{ STATIC_URL }}img/100_avator.png"/></div>

    {% block include_content %}
        {% include 'include/customer.html' %}
        {% include 'include/order.html' %}
        {% include 'include/product.html' %}
        {% include 'include/report.html' %}
        {% include 'include/medium.html' %}
        {% include 'include/size.html' %}
        {% include 'include/supplier.html' %}
        {% include 'include/royalty.html' %}
        {% include 'include/catalog.html' %}
    {% endblock %}
</body>
</html>
