<div id="catalog_issue_item_dialog">
	<form id="frm_catalog_issue" data-model="catalog_issue">
        <input type="hidden" name="obj_id" class="obj_id" value="" />
        <input type="hidden" name="parent_id" class="parent_id" value="" data-field="catalog" />
        <fieldset>
            <table>
                <tr>
                    <td class="form_cell"><label for="catalog_issue_parent" class="form_label">catalog:</label></td>
                    <td class="form_cell"><input type="text" name="catalog_issue_parent" id="catalog_issue_parent" class="obj_parent text ui-widget-content ui-corner-all form_input" readonly  /></td>
                </tr>
                <tr>
                    <td class="form_cell"><label for="catalog_issue_name" class="form_label">issue:</label></td>
                    <td class="form_cell"><input type="text" name="catalog_issue_name" id="catalog_issue_name" class="obj_name text ui-widget-content ui-corner-all form_input" data-field="issue" /></td>
                </tr>
            </table>
        </fieldset>
	</form>
</div>
