<div id="catalog_item_dialog">
	<form id="frm_catalog" data-model="catalog">
        <input type="hidden" name="obj_id" class="obj_id" value="" />
        <fieldset>
            <table>
                <tr>
                    <td class="form_cell"><label for="catalog_name" class="form_label">name:</label></td>
                    <td class="form_cell"><input type="text" name="catalog_name" id="catalog_name" class="obj_name text ui-widget-content ui-corner-all form_input" data-field="name" /></td>
                </tr>
            </table>
        </fieldset>
	</form>
</div>
