{% load compress %}
{% compress js %}
    <script type="text/javascript">
    $(function () {
        /* Customer
        * */
        $("#customer_content").dialog({
            title: "Customers",
            autoOpen: false,
            width: 'auto'
        });

        $("#customer_find").dialog({
            title: "Find Customers",
            autoOpen: false,
            width: 'auto'
        });

        $("#add_contact").dialog({
            title: "Add Contact",
            autoOpen: false,
            width: 'auto'
        });

        $("#show_note").dialog({
            title: "Note",
            autoOpen: true,
            width: 'auto'
        });

        $("#button_customers_open_dialog").click(function() {
            $("#customer_find").dialog("open");
        });
        $("#customer_control_action_cancel").click(function() {
            $("#customer_content").dialog("close");
        });
        $("#note_control_action_cancel").click(function() {
            $("#show_note").dialog("close");
        });
        $("#button_customers_find_dialog").click(function() {
            $("#customer_find").dialog("open");
        });
        $("#customer_content").on('click', '#customer_control_action_add_contact', function(){
            $("#add_contact").dialog("open");
            $("#contact_customer_id").val($('#customer_id').val());
            $("#contact_customer").val($('#customer_name').val());
            return false;
        });
        $("#contact_control_action_cancel").click(function() {
            $("#add_contact").dialog("close");
            $('#frm_add_contact').trigger('reset');
        });

        $("#find_customer_search").live('click', function(){
            var queryString = $('#frm_find_customer').formSerialize();
            $.get('{% url 'customer_list' %}?' + queryString);
        });

        // Save/Update Customer Details
        $('#customer_control_action_save').live('click', function () {
            var customer_id = $.trim($('#customer_id').val());
            if (customer_id == "" || customer_id == undefined || customer_id == null)
                customer_id = null;
            var model_fields = $('#frm_customer').getDataFields();
            var customer_json = [{
                'pk': customer_id,
                'model': 'frontend.customer',
                'fields': model_fields['customer']
            }];
            $.ajax({
                url: '/customer/save/' + customer_id,
                type: 'POST',
                dataType: 'json',
                cache: false,
                contentType: 'application/json; charset=UTF-8',
                headers: { 'X-CSRFToken': $.cookie('csrftoken') },
                data: JSON.stringify(customer_json),
                success: function (json) {
                    console.log('/save/customer success!');
                    console.debug(json);
                    alert(json);
                },
                error: function (xhr, status) {
                    console.log('Error requesting /save/customer! status:');
                    console.log(status);
                },
                complete: function (xhr, status) {
                    console.log('Complete request for /save/customer');
                }
            });
        });

        // Add contact
        $('#contact_control_action_save').live('click', function () {
            var model_fields = $('#frm_add_contact').getDataFields();
            var send_json = [{
                'model': 'frontend.customercontact',
                'fields': model_fields['contact'],
                'pk': null
            }];
            $.ajax({
                url: '/contact/add/',
                type: 'POST',
                dataType: 'json',
                cache: false,
                contentType: 'application/json; charset=UTF-8',
                headers: { 'X-CSRFToken': $.cookie('csrftoken') },
                data: JSON.stringify(send_json),
                success: function (json) {
                    console.log('/contact/add/ success!');
                    console.debug(json);
                    $.get('/customer/' + $('#customer_id').val());
                    $("#add_contact").dialog("close");
                    $('#frm_add_contact').trigger('reset');
                },
                error: function (xhr, status) {
                    console.log('Error requesting /contact/add/! status:');
                    console.log(status);
                },
                complete: function (xhr, status) {
                    console.log('Complete request for /contact/add/');
                }
            });
        });

        // Delete contact
        $("#customer_content").on('click', '.contact_delete_btn', function(){
            $.get('/contact/delete/' + $(this).attr('cid'));
            $(this).parents('.form_list_row').remove();
        });

        // Open customer detail
        $('#customer_contact_search tbody tr').live('click', function(){
            var cid = $(this).attr('cid');
            $("#customer_content").dialog("open");
            $.get('/customer/' + cid);
        });

        $('#customer_delivery_address_same').live("click", function () {
            if ($('#customer_delivery_address_same').prop("checked")) {
                $('#toggle_customer_main_options_delivery').hide('blind');
            } else {
                $('#toggle_customer_main_options_delivery').show('slide');
            }
        });

    });
    </script>
{% endcompress %}