{% load compress %}
{% compress js %}
    <script type="text/javascript">
    $(function () {
        /* Report
        * */
         $("#model_report_1").dialog({
            title: "Sales Order Listing",
            autoOpen: false,
            width: '280px',
            close: function( event, ui ) {
                $("#model_report_1_table").dialog('close');
            }
        });
        $("#model_report_1_table").dialog({
            title: "Sales Order Listing",
            autoOpen: false,
            width: 800,
            height: 500,
            close: function( event, ui ) {
            }
        });
        $("#menu_report_1").click(function(){
            $("#model_report_1").dialog("open");
        });

        $( "#report_1_from" ).datepicker({
            defaultDate: "-1w",
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: 'yy-mm-dd',
            onClose: function( selectedDate ) {
                $( "#report_1_to" ).datepicker( "option", "minDate", selectedDate );
            }
        });
        $( "#report_1_to" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            dateFormat: 'yy-mm-dd',
            onClose: function( selectedDate ) {
                $( "#report_1_from" ).datepicker( "option", "maxDate", selectedDate );
            }
        });

        $('.report_1_to_pdf').live("click", function(){
            document.location = $('#frm_report_1').attr('action') + '?' + $('#frm_report_1').serialize() + '&format=pdf';
        });
        $('.report_1_to_csv').live("click", function(){
            document.location = $('#frm_report_1').attr('action') + '?' + $('#frm_report_1').serialize() + '&format=csv';
        });
        $("#report_1_get").live("click", function(){
            $("#model_report_1_table").dialog("close");
            $('#frm_report_1').ajaxSubmit({
                success: function(){
                    report1_count_footer();
                    $("#report1_accordion").accordion({
                        collapsible: true,
                        heightStyle: 'content'
                    }).accordion( "refresh" );
                }
            });

        });


    });

    function report1_count_footer(){
        $('.report1_table').each(function(){
            $('tfoot .inv_num strong', $(this)).text($('tbody tr', $(this)).length);

            var total_sum = 0;
            $('tbody tr', $(this)).each(function(){
                total_sum += parseFloat($('.sub_total', $(this)).text());
            });
            $('tfoot .inv_total strong', $(this)).text('$ ' + total_sum.toFixed(2));
        });
    }
    </script>
{% endcompress %}